.workspace {
    height: calc(100vh - 72px);
    background-color: rgb(255, 254, 254);
    transition: all 0.4s linear;
    overflow-y: auto;
    overflow-x: auto;
}
.list__kanban {
    height: 50px;
    width: 100%;
    padding: 5px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #dbdbdb;
    &-item {
        min-width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: rgb(136, 204, 243);
        padding: 5px;
        text-align: center;
        justify-content: center;
        border-radius: 5px;
        font-weight: bold;
        margin-right: 10px;
        cursor: pointer;
    }
}
.kanban {
    min-width: 1000px;
    overflow-x: auto;
    height: calc(100vh - 122px);
    background-color: rgb(226, 225, 225);
    display: flex;
    padding: 5px;
    &-colum {
        background-color: rgb(255, 255, 255);
        height: 100%;
        width: 300px;
        padding: 4px;
        flex: 0 0 auto;
        overflow-y: auto;
    }
}
.kanban-colum + .kanban-colum {
    margin-left: 10px;
}
