.workspace {
    height: calc(100vh - 72px);
    background-color: rgb(141, 141, 141);
    transition: all 0.4s linear;
    overflow-x: auto;
    overflow-y: hidden;
}
.content {
    height: calc(100vh - 72px);
    display: flex;
    min-width: 200vw;
    background-color: #f2f3f4;
    padding-left: 10px;
    &-colum {
        width: 300px;
        background-color: #fff;
    }
}

.content-colum + .content-colum {
    margin-left: 10px;
}

.NavSub {
    width: 300px;
    transition: all 0.4s linear;
}
.addProcess {
    margin-left: 20px;
    width: 300px;
    height: 72px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
        font-size: 20px;
    }
    &:hover {
        background-color: rgb(72, 99, 235);
        color: #fff;
    }
}
