.workspace {
    height: calc(100vh - 72px);
    background-color: rgb(255, 254, 254);
    transition: all 0.4s linear;
    overflow-y: auto;
    overflow-x: auto;
}
.list__kanban {
    height: 50px;
    width: 100%;
    padding: 5px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #dbdbdb;
    &-item {
        min-width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: rgb(136, 204, 243);
        padding: 5px;
        text-align: center;
        justify-content: center;
        border-radius: 5px;
        font-weight: bold;
        margin-right: 10px;
        cursor: pointer;
    }
}
.kanban {
    min-width: 1000px;
    overflow-x: auto;
    height: calc(100vh - 122px);
    background-color: #f2f3f4;
    display: flex;
    padding: 5px;
    overflow-y: hidden;
    &-column {
        background-color: rgb(255, 255, 255);
        height: 100%;
        width: 300px;
        padding: 4px;
        flex: 0 0 auto;
        overflow-y: auto;

        &-name {
            height: 50px;
            line-height: 50px;
            background-color: rgb(255, 255, 255);
        }
    }
    &-card {
        min-height: 200px;
        width: 100%;
        background-color: rgb(136, 204, 243);
    }
}
.kanban-column-warper + .kanban-column-warper {
    margin-left: 20px;
}
.kanban-card + .kanban-card {
    margin-top: 10px;
}
.kanban-column {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none !important;
}
.kanban-column::-webkit-scrollbar {
    width: 0 !important;
    display: none !important;
}
