.myjob {
    padding: 10px;
    background-color: #f2f3f4;
    height: calc(100vh - 72px);
    // width: 100%;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        background-color: #f2f3f4;
        padding: 10px;
        div {
            border-right: 2px solid rgb(139, 139, 139);
            padding-left: 10px;
        }
    }
}
.flex-1-mj {
    flex: 1;
}
.flex-2-mj {
    flex: 2;
}
.flex-3-mj {
    flex: 3;
}
