.profile {
    background-color: #f2f3f4;
    height: calc(100vh - 72px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__left {
        height: calc(100vh - 72px);
        padding-top: 20px;
        width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;

        &-footer {
            height: 300px;
            width: 100%;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: space-around;

            .footer-item {
                flex: 1;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 30px;
                height: 100px;
                a {
                    color: #f68300;
                }
                span {
                    font-size: 25px;
                    display: block;
                    margin-top: 10px;
                }
            }
            .footer-item + .footer-item {
                border-left: 1px solid #dbdbdb;
            }
        }
    }
    &-avatar {
        height: 200px;
        width: 200px;
        overflow: hidden;
        background-color: #fff;
        padding: 5px;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
        &-updateImg {
            display: flex;
            align-items: center;
            input {
                display: none;
            }
            .label-avatar {
                display: block;
                margin-top: 50px;
                width: 150px;
                height: 50px;
                background-color: #f68300ab;
                line-height: 50px;
                font-size: 14px;
                color: #fff;
                font-weight: bold;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    &-infor {
        padding-left: 20px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }
    &__form {
        height: calc(100vh - 72px);
        width: 800px;
        background-color: #fff;
        &-header {
            height: 100px;
            width: 100%;
            padding-left: 20px;
            border-bottom: 1px solid #dbdbdb;
            span {
                font-size: 35px;
                line-height: 100px;
                display: block;
                font-weight: bold;
            }
        }
        &-body {
            padding-left: 20px;
        }
    }
}
.profile__infor {
    padding-left: 20px;
    flex: 1;
    &-name {
        font-size: 35px;
        font-weight: bold;
    }
    &-phone {
        padding-top: 15px;
        font-size: 25px;
        opacity: 0.8;
    }
}
.body_item {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    span {
        font-size: 25px;
        line-height: 50px;
        font-weight: bold;
        width: 200px;
    }
    input {
        font-size: 25px;
        border: none;
        outline: none;
        padding-left: 10px;
        flex-grow: 1;
    }
    &-des {
        height: 200px;
        width: 100%;
        border-bottom: 1px solid #dbdbdb;
        display: flex;
        span {
            font-size: 25px;
            line-height: 50px;
            font-weight: bold;
            flex: 1;
        }
        textarea {
            padding-top: 8px;
            height: 190px;
            flex: 3;
            border: none;
            outline: none;
            padding-left: 10px;
            font-size: 25px;
        }
    }
}
.update_profile {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: end;
    span {
        padding: 10px 15px;
        margin-right: 20px;
        background-color: #00ff2a;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
            background-color: rgb(0, 224, 37);
        }
    }
}
.label-avatar-accept {
    display: block;
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background-color: #f68300ab;
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    border: none;
    outline: none;
}
