.header {
    height: 72px;
    width: 100vw;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    padding: 17px 20px;
    justify-content: space-between;
    transition: all 0.4s linear;

    &__bar {
        font-size: 30px;
        cursor: pointer;
        margin-right: 15px;
    }
    h3 {
        padding-left: 15px;
    }
    &__title {
        display: flex;
        align-items: center;
    }
    &__option {
        width: 400px;
        height: 100%;
        // background-color: rgb(216, 156, 156);
        display: flex;
        align-items: center;
        justify-content: space-around;
        &-search {
            width: 250px;
            height: 30px;
            border: 1px solid #dbdbdb;
            border-radius: 20px;
            padding-left: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .search-input {
                height: 100%;
                border: none;
                outline: none;
            }
            i {
                margin-right: 20px;
                cursor: pointer;
            }
        }
        &-mess {
            height: 32px;
            width: 32px;
            border: 1px solid #b6b5b5;
            border-radius: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        &-avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
