.kanban__colum {
    overflow-y: auto;
    background-color: #dfdfdf;
    width: 320px;
    height: calc(100vh - 72px);
    &-header {
        position: sticky;
        top: 0;
        width: 100%;
        height: 72px;
        background-color: #dbdbdb;
        padding: 10px 5px;
    }
    &-body {
        margin-top: 10px;
    }
}
.colum__add {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    .add-warper {
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        i {
            line-height: 30px;
        }
    }
}
.kanban__colum + .kanban__colum {
    margin-left: 10px;
}
