.add__friend {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    background-color: rgba(223, 219, 219, 0.589);
    display: none;
    &-container {
        width: 500px;
        height: 600px;
        background-color: #fff;
        margin: 90px auto;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
    }
    &-header {
        height: 100px;
        width: 100%;
        background-color: rgb(219, 217, 217);
        display: flex;
        flex-direction: column;
    }

    &-close {
        font-size: 25px;
        align-self: end;
        display: block;
        margin: 10px 15px;
        cursor: pointer;
    }
    &-search {
        height: 50px;
        width: 100%;
        flex-grow: 1;
        border-top: 1px solid #ffffff;
        display: flex;
        justify-content: space-around;
        padding: 0px 10px;
        input {
            flex-grow: 1;
            height: 35px;
            align-self: center;
            border: none;
            outline: none;
            padding-left: 10px;
            font-size: 18px;
            border-radius: 5px;
        }
        i {
            display: block;
            width: 50px;
            text-align: center;
            align-self: center;
            font-size: 35px;
            cursor: pointer;
        }
    }
    &-body {
        position: absolute;
        height: 500px;
        width: 100%;
        top: 100px;
        overflow-y: auto;
        padding: 5px;
    }
    &-notfound {
        font-size: 18px;
        margin-top: 20px;
        text-align: center;
    }
}
.user__found {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    &-avatar {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-infor {
        margin-left: 10px;
        span {
            font-size: 20px;
            opacity: 0.8;
            font-weight: 600;
        }
    }
    &-add {
        margin-left: auto;
        span {
            display: block;
            padding: 5px;
            background-color: rgb(4, 204, 4);
            border-radius: 5px;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
        }
    }
}
.user__found + .user__found {
    margin-top: 10px;
}
