.login_containner {
    width: 100vw;
    height: 100vh;
    background-color: #f2f3f4;
    position: relative;
    .login__form {
        transition: all 0.4s linear;
        opacity: 1;
        width: 400px;
        height: 500px;
        background-color: #fff;
        box-shadow: 2px 2px 8px rgb(199, 199, 199);
        position: absolute;
        right: 50%;
        transform: translate(50%, 0);
        top: 300px;
        z-index: 1000;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: 20px 50px;
        &-blank {
            font-size: 18px;
            display: block;
            width: 100%;
            margin-top: 20px;
            text-align: center;
            opacity: 0.7;
        }
        h1 {
            text-align: center;
            margin-bottom: 40px;
            opacity: 0.7;
        }
        &-gg {
            display: block;
            background-color: rgb(243, 90, 90);
            color: #f2f3f4;
            box-shadow: 2px 2px 8px rgb(199, 199, 199);
            border-radius: 8px;
            padding: 10px 30px;
            align-self: center;
            cursor: pointer;
        }
        &-input {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            input {
                margin-top: 20px;
                height: 40px;
                border-radius: 8px;
                font-size: 18px;
                outline: none;
                border: none;
                padding: 10px;
            }
            button {
                height: 40px;
                margin-top: 20px;
                border-radius: 8px;
                border: none;
                background-color: rgb(7, 186, 240);
                font-size: 18;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}
.sign__form {
    transition: all 0.4s linear;

    h1 {
        text-align: center;
        margin-bottom: 40px;
        opacity: 0.7;
    }
    width: 400px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    &-close {
        position: absolute;
        right: 10px;
        font-size: 25px;
        cursor: pointer;
        color: #585858;
    }
}
.leftBackground {
    position: absolute;
    z-index: 1000;
    left: 10px;
    bottom: 0;
}
.rightBackground {
    position: absolute;
    z-index: 1000;
    right: 10px;
    bottom: 0;
}
.logo-center {
    width: 400px;
    height: 200px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
}
