.chat__container {
    width: 100%;
    height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.space_chat {
    width: calc(100% - 400px);
    flex-grow: 1;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    &-item {
        margin-top: 10px;
    }
    span {
        display: inline-block;
        padding: 5px;
        border-radius: 5px;
    }
    span + span {
        margin-top: 10px;
    }
    &-me {
        background-color: rgb(250, 170, 21);
    }
    &-friend {
        background-color: rgb(195, 195, 195);
    }
}
.input_chat {
    height: 100px;
    width: calc(100% - 400px);
    &-header {
        width: 100%;
        height: 40px;
        background-color: #fff;
        border-bottom: 1px solid #dbdbdb;
        border-top: 1px solid #dbdbdb;
        display: flex;
        align-items: center;
        padding-left: 10px;
        .imgIcon {
            font-size: 20px;
            cursor: pointer;
        }
        .imgIcon + .imgIcon {
            margin-left: 30px;
        }
    }
    input {
        width: 96%;
        height: 55px;
        font-size: 20px;
        padding-left: 10px;
        border: none;
        outline: none;
    }
    .chat__send {
        font-size: 40px;
        display: inline-block;
        margin-top: 5px;
        color: rgb(6, 113, 253);
        cursor: pointer;
    }
}

.nav_friend {
    position: absolute;
    width: 400px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
    padding: 5px;
    &-item {
        width: 100%;
        height: 40px;
        background-color: #fff;
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding-left: 10px;
        cursor: pointer;
        &:hover {
            background-color: rgb(255, 180, 94);
        }
    }
    &-avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    &-name {
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
    }
    &-state {
        margin-left: auto;
        margin-right: 10px;
    }
}
.nav_friend-item + .nav_friend-item {
    margin-top: 5px;
}
