* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica Neue', Helvetica;
}
.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.mainboard__container {
}
a {
    text-decoration: none;
    color: #000;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dadada;
}
.barsub_ef {
    transition: all 0.4s linear;
    overflow-x: hidden;
    position: relative;
}
