.card-detail {
    position: absolute;
    right: 0;
    width: 500px;
    height: calc(100vh - 72px);
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.103);
    z-index: 100;
    animation: slideCard ease-in-out 0.5s;
    display: none;
    &-header {
        height: 50px;
        display: flex;
        width: 100%;
        justify-content: end;
        align-items: center;
        margin-bottom: 10px;
        i {
            font-size: 30px;
            margin-right: 20px;
            &:hover {
                transition: 0.5s linear;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                cursor: pointer;
            }
        }
    }
    &-body {
        height: 750px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding: 5px;
        .card-name-parent {
            font-size: 20px;
            margin-top: 10px;
            font-weight: bold;
            color: #777676;
        }
        .card-list-member {
            height: 70px;
            width: 490px;
            margin-top: 20px;
            display: flex;
        }
        .card-list-maker {
            min-height: 60px;
            width: 100%;
            margin-top: 10px;
            padding-left: 10px;
            border: 1px solid #dbdbdb;
            padding: 5px;
        }
    }
    &-footer {
        height: 60px;
        width: 100%;
        margin-top: auto;
        background-color: #6392cc;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-size: 22px;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
        }
    }
    &-name {
        height: 40px;
        border: 1px solid #dbdbdb;
        outline: none;
        font-size: 18px;
        padding-left: 10px;
    }
}

@keyframes slideCard {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0px);
    }
}
.card-title {
    font-size: 18px;
}
.card-list-item {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    cursor: pointer;
    span {
        font-size: 18px;
    }
    .itemImg {
        width: 40px;
        height: 40px;
        overflow: hidden;
        margin-right: 10px;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.card-deline {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    i {
        font-size: 22px;
        margin-right: 10px;
    }
    span {
        margin-right: 10px;
        display: block;
        width: 100px;
    }
    input {
        font-size: 18px;
        width: 120px;
    }
}
.card-des {
    width: 100%;
    min-height: 200px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    span {
        font-size: 18px;
    }
    textarea {
        font-size: 18px;
        border: 1px solid #dbdbdb;
        outline: none;
        margin-top: 10px;
        padding: 5px;
    }
}
