.card-detail {
    position: absolute;
    right: 0;
    width: 500px;
    height: calc(100vh - 72px);
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.103);
    z-index: 100;
    animation: slideCard ease-in-out 0.5s;
    display: none;
    &-header {
        height: 50px;
        display: flex;
        width: 100%;
        justify-content: end;
        align-items: center;
        margin-bottom: 10px;
        i {
            font-size: 30px;
            margin-right: 20px;
            &:hover {
                transition: 0.5s linear;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                cursor: pointer;
            }
        }
    }
    &-body {
        height: 750px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding: 5px;
        .card-name-parent {
            font-size: 20px;
            margin-top: 10px;
            font-weight: bold;
            color: #777676;
        }
        .card-list-member {
            height: 70px;
            width: 490px;
            margin-top: 20px;
            display: flex;
        }
        .card-list-maker {
            min-height: 60px;
            width: 100%;
            margin-top: 10px;
            padding-left: 10px;
            border: 1px solid #dbdbdb;
            padding: 5px;
        }
    }
    &-footer {
        height: 60px;
        width: 100%;
        margin-top: auto;
        background-color: #6392cc;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: #6a96cc;
        }
        span {
            font-size: 22px;
            font-weight: bold;
            color: #fff;
        }
    }
    &-name {
        height: 40px;
        border: 1px solid #dbdbdb;
        outline: none;
        font-size: 18px;
        padding-left: 10px;
    }
}

@keyframes slideCard {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0px);
    }
}
.card-title {
    font-size: 18px;
}
.card-list-item {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    cursor: pointer;
    span {
        font-size: 18px;
    }
    .itemImg {
        width: 40px;
        height: 40px;
        overflow: hidden;
        margin-right: 10px;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.card-deline {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    i {
        font-size: 22px;
        margin-right: 10px;
    }
    span {
        margin-right: 10px;
        display: block;
        width: 100px;
    }
    input {
        font-size: 18px;
        width: 120px;
    }
}
.card-des {
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    span {
        font-size: 18px;
    }
    textarea {
        font-size: 18px;
        border: 1px solid #dbdbdb;
        outline: none;
        margin-top: 10px;
        padding: 5px;
        min-height: 100px;
        display: block;
    }
}

.card-detail {
    &-update {
        width: 500px;
        height: calc(100% - 72px);
        position: absolute;
        z-index: 999;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.103);
        right: 0px;
        // display: none;
        background-color: #fff;
        animation: slideCard ease-in-out 0.5s;
    }
    &-header2 {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #dbdbdb;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        i {
            font-size: 26px;
            margin-right: 20px;
            cursor: pointer;
            &:hover {
                transition: 1s;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
            }
        }
    }
    &-body2 {
        width: 100%;
        height: 745px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        position: relative;
        margin-bottom: auto;
        .body2-process {
            margin-top: 20px;
            span {
                font-size: 20px;
                font-weight: bold;
                opacity: 0.7;
            }
        }
        .body2-listmember {
            display: flex;
            margin-top: 10px;
            width: 100%;
            height: 50px;
            padding-left: 10px;
            align-items: center;
            &-item {
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 50%;
                cursor: pointer;
                margin-right: 10px;
                flex-wrap: wrap;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .body2-listmaker {
            width: 100%;
            min-height: 70px;
            border: 1px solid #dbdbdb;
            padding: 5px;
            &-item {
                display: flex;
                align-items: center;
                margin-top: 10px;
                cursor: pointer;
            }
        }
        .body2-deadline {
            width: 100%;
            height: 50px;
            background-color: rgb(124, 100, 100);
            margin-top: 20px;
        }
        .body2-carddeline {
            font-size: 22px;
            display: flex;
            margin-top: 20px;
            width: 300px;
            height: 50px;
            align-items: center;

            i {
                margin-right: 10px;
            }
        }
    }
}
.card-detail-name-process {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #777676;
}
.card-activity-warper {
    width: 100%;
    height: 230px;
    overflow-y: auto;
    border: 1px solid #dbdbdb;
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.input-activity {
    border: 1px solid #dbdbdb;
    outline: none;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    flex-grow: 1;
}
.card-activity-chat {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
    i {
        color: #777676;
        cursor: pointer;
    }
}
.card-activity-item {
    display: block;
    padding: 10px;
    // background-color: #6392cc;
    min-width: 85px;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    min-height: 50px;
    .card-activity-avatar {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .you {
        position: absolute;
        min-width: 85px;
        background-color: #6392cc;
        padding: 10px 15px;
        border-radius: 5px;
        left: 60px;
    }
    .me {
        position: absolute;
        min-width: 85px;
        background-color: #6392cc;
        padding: 10px 15px;
        border-radius: 5px;
        right: 60px;
    }
    .time {
        position: absolute;
        bottom: 0;
        color: #000;
        bottom: -13px;
        right: 60px;
        font-style: italic;
        opacity: 0.7;
        font-size: 12px;
    }
}
.item-left {
    justify-content: start;
    align-items: start;
}
.item-right {
    justify-content: end;
    align-items: start;
}

.card-activity-item + .card-activity-item {
    margin-top: 15px;
}
.previews-imgchat {
    position: absolute;
    width: 300px;
    height: 400px;
    left: -300px;
    background-color: rgb(204, 200, 200);
    z-index: 100;
    bottom: 0px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    i {
        position: absolute;
        z-index: 1000;
        font-size: 22px;
        right: 10px;
        top: 10px;
        color: #fff;
        cursor: pointer;
    }
}
#activity-img {
    display: none;
}
.img-chat {
    width: 200px;
    height: 200px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }
}
